<% data.forEach(function(server) { %>
    <tr>
        <td><%= server.serverName %></td>
        <td><%= server.ipAddress %></td>
        <td><%= server.operatingSystem %></td>
        <td><%= server.createdAt %></td>
    </tr>
<%}); %>