<%- include('../layout', { body: `
<div class="row">
  <div class="col-sm-12">
    <div class="home-tab">
      <div
        class="d-sm-flex align-items-center justify-content-between border-bottom"
      >
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link border-0"
              id="overview-tab"
              data-bs-toggle="tab"
              href="#overview"
              role="tab"
              aria-selected="false"
              tabindex="-1"
              >Overview</a
            >
          </li>
        </ul>
        <div>
          <div class="btn-wrapper">
            <a href="#" class="btn btn-otline-dark"
              ><i class="icon-printer"></i> Print</a
            >
            <a href="#" class="btn btn-primary text-white me-0"
              ><i class="icon-download"></i> Export</a
            >
          </div>
        </div>
      </div>
      <div class="tab-content tab-content-basic">
        <div
          class="tab-pane fade show active"
          id="overview"
          role="tabpanel"
          aria-labelledby="overview"
        >
          <div class="row">
            <div class="col-sm-12">
              <div
                class="statistics-details d-flex align-items-center justify-content-between"
              >
                <div>
                  <p class="statistics-title">Total CVE  Registered</p>
                  <h3 class="rate-percentage" id="total-cve-count">0</h3>
                </div>
                <div>
                  <p class="statistics-title">Total Servers</p>
                  <h3 class="rate-percentage" id="total-server-count">0</h3>
                </div>
                <div>
                  <p class="statistics-title">Total Websites</p>
                  <h3 class="rate-percentage" id="total-new-website">0</h3>
                </div>
                <div class="d-none d-md-block">
                  <p class="statistics-title">Total Incidents</p>
                  <h3 class="rate-percentage" id="total-incident-reports">0</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body">
                      <div
                        class="d-sm-flex justify-content-between align-items-start"
                      >
                        <div>
                          <h4 class="card-title card-title-dash">
                            Past two months incident reports
                          </h4>
                          <h5 class="card-subtitle card-subtitle-dash">
                          </h5>
                        </div>
                        <div id="performanceLine-legend">
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <span style="background-color: #1f3bb3"></span>
                              This week
                            </li>

                            <li>
                              <span style="background-color: #52cdff"></span>
                              Last week
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="chartjs-wrapper mt-4">
                        <canvas
                          id="performanceLine"
                          width="521"
                          height="150"
                          style="
                            display: block;
                            box-sizing: border-box;
                            height: 150px;
                            width: 521px;
                          "
                        ></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                  <div class="card bg-primary card-rounded">
                    <div class="card-body pb-0">
                      <h4 class="card-title card-title-dash text-white mb-4">
                        Total websites summary
                      </h4>
                      <div class="row">
                        <div class="col-sm-4">
                          <p class="status-summary-ight-white mb-1">
                            Total websites within month
                          </p>
                          <h2 class="text-info" id="total-website-within-month"></h2>
                        </div>
                        <div class="col-sm-8">
                          <div class="status-summary-chart-wrapper pb-4">
                            <canvas
                              id="status-summary"
                              width="137"
                              height="66"
                              style="
                                display: block;
                                box-sizing: border-box;
                                height: 66px;
                                width: 137px;
                              "
                            ></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-6">
                          <div
                            class="d-flex justify-content-between align-items-center mb-2 mb-sm-0"
                          >
                            <div class="circle-progress-width">
                              <div
                                id="totalVisitors"
                                class="progressbar-js-circle pr-2"
                              >
                                <svg
                                  viewBox="0 0 100 100"
                                  style="display: block; width: 100%"
                                >
                                  <path
                                    d="M 50,50 m 0,-42.5 a 42.5,42.5 0 1 1 0,85 a 42.5,42.5 0 1 1 0,-85"
                                    stroke="#eee"
                                    stroke-width="15"
                                    fill-opacity="0"
                                  ></path>
                                  <path
                                    d="M 50,50 m 0,-42.5 a 42.5,42.5 0 1 1 0,85 a 42.5,42.5 0 1 1 0,-85"
                                    stroke="rgb(99,137,233)"
                                    stroke-width="15"
                                    fill-opacity="0"
                                    style="
                                      stroke-dasharray: 267.132, 267.132;
                                      stroke-dashoffset: 96.1674;
                                    "
                                  ></path>
                                </svg>
                                <div
                                  class="progressbar-text"
                                  style="
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    padding: 0px;
                                    margin: 0px;
                                    transform: translate(-50%, -50%);
                                    color: rgb(255, 255, 255);
                                    font-size: 0rem;
                                  "
                                >
                                  64
                                </div>
                              </div>
                            </div>
                            <div>
                              <p class="text-small mb-2">Total incident close</p>
                              <h4 class="mb-0 fw-bold">26</h4>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="circle-progress-width">
                              <div
                                id="visitperday"
                                class="progressbar-js-circle pr-2"
                              >
                                <svg
                                  viewBox="0 0 100 100"
                                  style="display: block; width: 100%"
                                >
                                  <path
                                    d="M 50,50 m 0,-42.5 a 42.5,42.5 0 1 1 0,85 a 42.5,42.5 0 1 1 0,-85"
                                    stroke="#eee"
                                    stroke-width="15"
                                    fill-opacity="0"
                                  ></path>
                                  <path
                                    d="M 50,50 m 0,-42.5 a 42.5,42.5 0 1 1 0,85 a 42.5,42.5 0 1 1 0,-85"
                                    stroke="rgb(60,168,179)"
                                    stroke-width="15"
                                    fill-opacity="0"
                                    style="
                                      stroke-dasharray: 267.132, 267.132;
                                      stroke-dashoffset: 176.307;
                                    "
                                  ></path>
                                </svg>
                                <div
                                  class="progressbar-text"
                                  style="
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    padding: 0px;
                                    margin: 0px;
                                    transform: translate(-50%, -50%);
                                    color: rgb(255, 255, 255);
                                    font-size: 0rem;
                                  "
                                >
                                  34
                                </div>
                              </div>
                            </div>
                            <div>
                              <p class="text-small mb-2">Close within the day</p>
                              <h4 class="mb-0 fw-bold">0</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body card-rounded">
                      <h4 class="card-title card-title-dash">Recent Incidents</h4>
                      <div id="all-recent-incidents-container"></div>
                      <div class="list align-items-center pt-3">
                        <div class="wrapper w-100">
                          <p class="mb-0">
                            <a href="/all-incidents" class="fw-bold text-primary"
                              >Show all <i class="mdi mdi-arrow-right ms-2"></i
                            ></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between mb-3"
                      >
                        <h4 class="card-title card-title-dash">Recent CVE Registers</h4>
                        <p class="mb-0">20 finished, 5 remaining</p>
                      </div>
                      <ul class="bullet-line-list" id="all-recent-cve-register-container">
                      </ul>
                      <div class="list align-items-center pt-3">
                        <div class="wrapper w-100">
                          <p class="mb-0">
                            <a href="/all-cve-registers" class="fw-bold text-primary"
                              >Show all <i class="mdi mdi-arrow-right ms-2"></i
                            ></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
`}) %>

<script>
      function dateFormat(dateStr) {
        const date = new Date(dateStr);
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        const month = monthNames[date.getUTCMonth()];
        const day = date.getUTCDate();
        const year = date.getUTCFullYear();

        return `${month} ${day}, ${year}`;
      }


      $(document).ready(function() {
        $.ajax({
          url: "/api/meta",
          type: "GET",
          success: function(data) {
            const totals = data.data.totals;
            $("#total-cve-count").text(totals.totalCveRegisters);
            $("#total-server-count").text(totals.totalServers);
            $("#total-new-website").text(totals.totalSites);
            $("#total-incident-reports").text(totals.totalIncidents);
            $("#total-website-within-month").text(totals.totalSites);

            const recentIncidentHtml = data.data.recentIncidents.map((incident) => {
              return `
              <div class="list align-items-center border-bottom py-2">
                <div class="wrapper w-100">
                      <p class="mb-2 fw-medium">${incident.cve_id}</p>
                  <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="d-flex align-items-center">
                              <i class="mdi mdi-calendar text-muted me-1"></i>
                              <p class="mb-0 text-small text-muted">
                                ${dateFormat(incident.createdAt)}
                              </p>
                            </div>
                          </div></div></div>`;
            }).join("");

            $("#all-recent-incidents-container").append(recentIncidentHtml);
            console.log(recentIncidentHtml);

            const recentCveRegisterHtml = data.data.recentCveRegisters.map((cveRegister) => {
              return `<li>
                          <div class="d-flex justify-content-between">
                            <div>
                              <span class="text-light-green">${cveRegister.cveMetadata.assignerShortName}</span>
                              Published a new CVE, ${cveRegister.cveMetadata.cveId}
                            </div>
                            <p> ${dateFormat(cveRegister.createdAt)} </p>
                          </div>
                        </li>`;
            });

            $("#all-recent-cve-register-container").append(recentCveRegisterHtml);
          },
          error: function(err) {
            console.log(err);
          }
        })
      })
</script>