<%- include('../layout', { body: `
    <div class="row">
    <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Site register</h4>
        <p class="card-description"> Register a new site </p>
        <form class="forms-sample" id="site-register-form">
          <div class="form-group">
            <label for="website-name">Website Name</label>
            <input type="text" class="form-control" name="website_name" id="website-name" placeholder="Website Name">
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" name="url" id="url" placeholder="URL">
          </div>
          <div class="form-group">
            <label for="server">Server</label>
            <select class="form-select" id="server" name="server">
            </select>
          </div>
          <div class="form-group">
            <label for="server">Tags</label>
            <select class="form-select" id="tags" name="tags"></select>
          </div>
          <button type="submit" class="btn btn-primary me-2">Submit</button>
          <a class="btn btn-light" href="/">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>` }) -%>


<script>
  $.ajax({
      url: '/api/all-servers', // Replace with your server endpoint
      contentType: 'application/json',
      success: function(response) {
        const options = response.data.map(server => `<option value="${server._id}">${server.serverName}</option>`);
        $("#server").append(options);
      },
      error: function(error) {
        console.log(error);
      }
  });

  $.ajax({
      url: '/api/all-tags', // Replace with your server endpoint
      contentType: 'application/json',
      success: function(response) {
        const options = response.data.map(tag => `<option value="${tag}">${tag}</option>`);
        $("#tags").append(options);
      },
      error: function(error) {
        console.log(error);
      }
  });

  $('#site-register-form').on('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission
    var websiteName = $('[name="website_name"]').val();
    var url = $('[name="url"]').val();
    var server = $('[name="server"]').val();
    var tags = $('[name="tags"]').val();


    var formData = {
        website: websiteName,
        url: url,
        server: server,
        tags: tags
    };

    $.ajax({
        url: '/api/site/reigster', // Replace with your server endpoint
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function(response) {
            alert("Site registered successfully!");
            window.location.href = '/all-sites';
        },
        error: function(error) {
            alert('Error submitting form: ' + error);
        }
    });
});
</script>